@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


.root{
    box-sizing: border-box;
    background-color: hsl(36, 100%, 99%);
}
body{
    margin: 0.8rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
.logo{
    display: inline-block;
}
.mainheader{
    display: flex;
    justify-content: space-between;
    margin-block: 2rem 0;
    position: relative;
    overflow: hidden;
    padding-bottom: 1rem;
}
#input{
    display: none;
  
}
body > header > label{
  margin-inline-end: 0.1rem;
  margin-inline-start: auto;
  margin-top: 10px;
}
.hamburger-menu {
  top: 20px; /* Adjust as needed */
  right: 0px; /* Adjust as needed */
  z-index: 1; /* Ensure it's above other content */
  cursor: pointer;
}

.hamburger-icon {
  width: 30px;
  height: 20px;
  background-color: hsl(36, 100%, 99%); /* Color of the hamburger icon */
  position: relative;
}

.middle-line {
  width: 30px;
  background-color: black; /* Color of the lines */
  height: 2px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.hamburger-icon::before,
.hamburger-icon::after {
  content: '';
  width: 30px;
  height: 2px;
  background-color: black; /* Color of the lines */
  position: absolute;
  left: 0;
  transition: transform 0.3s ease;
}

.hamburger-icon::before {
  top: 0;
}

.hamburger-icon::after {
  bottom: 0;
}

.navbar .ulist{
    display: none;
}
.navbar .ulist{
    height: 100vh;
    z-index: 1;
    width: 60vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    background-color: hsl(36, 100%, 99%);
    top: 0;
    margin: 0;
    right: -600px;
    padding: 1.5rem 0px 0px 25px;
    font-size: clamp(1.2rem, 1.5vw, 1.8rem);    
    -webkit-font-size: clamp(1.2rem, 2vw, 1.8rem);
}
.ulist .list{
    margin-bottom: 1.5rem;
    font-weight: 400;
}
.ulist a{
    text-decoration: none;
    color: hsl(240, 100%, 5%);
    transition: 0.3s;
}
.ulist a:hover{
    color: hsl(5, 85%, 63%);
    opacity: 0.5;
}
#input:checked ~ .navbar .ulist{
    right: 0px;
    box-shadow: 0 0 300rem 350rem rgb(0, 0, 0, 0.6);
    transition: 0.3s ease;
}
#active a:visited{
  color: hsl(5, 85%, 63%);
}
.resize{
   position: absolute;
    right: 1rem;
    top: 2.2rem;
    cursor: pointer;
    height: 25px;
}
.spacing-bar{
  margin-top: 5rem;
}
.image{
    max-width: 100%;
}
.header_one{
    font-weight: 800;
    line-height: 3rem;
    font-size: clamp(2rem, 2vw, 3.5rem);    
    margin: 0px;   
    padding-block: 1rem;
}
.paragraph_one{
    color: hsl(236, 13%, 42%);
    line-height: 2rem;
    margin-bottom: 0.5rem;
    font-size: clamp(1rem, 2vw, 1.5rem);    
    -webkit-font-size: clamp(0.5rem, 2vw, 1.8rem);
    margin-top: 0.5px;
}
.paragraph{
  color: hsl(236, 13%, 42%);
  line-height: 1.5rem;
  margin-bottom: 1rem;
  font-size: clamp(1.2rem, 1.5vw, 1.8rem);    
    -webkit-font-size: clamp(1.2rem, 2vw, 1.8rem);
}
.paragraph> strong{
  color: black;
  font-weight: 800;
}
.main-para{
  margin: 0 1rem;
}
#last-paragragh{
  margin-bottom: 5rem;
}
.btn{
    padding: 1rem;
    letter-spacing: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 3.2rem;
    background-color: hsl(5, 85%, 63%);
    border-color: 1px solid hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    border: none;
    transition: 0.3s;
    text-decoration: none;
    font-weight: 700;
}
.btn:hover{
    background-color: hsl(240, 100%, 5%);
    transition: 0.3s;
}
.btn a{
    text-decoration: none;
    color: hsl(36, 100%, 99%);
}
.btn a:hover{
    background-color: hsl(240, 100%, 5%);
    transition: 0.3s;
}
#section_two{
    background-color: hsl(240, 100%, 5%);
    padding: 1rem;
    margin-bottom: 3.2rem;
}
.header_two{
    color: hsl(35, 77%, 62%);
    margin: 0px;
    font-size: clamp(1.5rem, 1.5vw, 2rem);    
}
.sub_header_one{
    color: hsl(36, 100%, 99%);
    margin-bottom: 0.2rem;
    padding-top: 0.2rem;
    font-size: clamp(1rem, 1.5vw, 1.8rem);    
}
.sub_header_one a{
    color: hsl(36, 100%, 99%);
    text-decoration: none;
    transition: 0.3s;
}
.sub_header_one a:hover{
    color: hsl(35, 77%, 62%);
}
.paragraph_two{
    color: hsl(236, 13%, 60%);
    font-size: clamp(0.8rem, 1.5vw, 1.8rem);    
    -webkit-font-size: clamp(0.8rem, 2vw, 1.8rem);
    border-bottom: 1px solid hsl(236, 13%, 42%);
    padding-bottom: 2rem;
    margin-top: 0.5rem;
}
.paragraph_three{
    color: hsl(236, 13%, 60%);
    font-size: clamp(0.8rem, 1.5vw, 1.8rem);    
    -webkit-font-size: clamp(1.2rem, 2vw, 1.8rem);
    margin-top: 0.5rem;
    margin-bottom: 0px;
}

.first_row{
    display: flex;
    gap: .7em;
    margin-bottom: 2rem;
    height: 7rem;
    width: 100%;
}
#sub_row> .big_no, .header_four, .paragraph_four{
    margin: 0px;
} 
#sub_row{
    height: 7rem;
}
.big_no{
    padding-bottom: 0.6rem;
    font-size: clamp(1.2rem, 1.5vw, 1.8rem);    
    -webkit-font-size: clamp(1.2rem, 2vw, 1.8rem);
    color: hsl(233, 8%, 79%);
}
.header_four{
    padding-bottom: 0.6rem;
    font-size: clamp(1rem, 1.5vw, 1.8rem);    
    -webkit-font-size: clamp(1rem, 2vw, 1.8rem);
    color: hsl(240, 100%, 5%);
}
.header_four a{
    text-decoration: none;
    color: hsl(240, 100%, 5%);
    transition: 0.3s;
}
.header_four a:hover{
    color: hsl(5, 85%, 63%);
}
.paragraph_four{
  font-size: clamp(0.8rem, 1.5vw, 1rem);    
  -webkit-font-size: clamp(0.9rem, 2vw, 0.9rem);
    line-height: 1.4rem;
    color: hsl(236, 13%, 42%);
}



@media only screen and (max-width:719px){
  .navbar .ulist{
    position: fixed;
  }
}


@media only screen and (max-width:600px) {
  .maincontainer{
    display: grid;
    grid-template-areas: 'header'
                         'menu'
                         'main'
                         'right'
                         'footer1' 
                         'footer2'
                         'footer3';  
    gap: 0rem;
  }
  #sectionContainer{
    background-image: url(./assets/images/image-web-3-mobile.jpg);
    background-size: cover;
    background-position: center;
    height: 280px;
  }
 .menu{
    grid-area: menu;
  }
  .main{
    grid-area: main;
  }
  #section_two{
    grid-area: right;
  }
  .section_three{
   grid-area: footer1;
}
  .section_four{
   grid-area: footer2;
}
  .section_five{
   grid-area: footer3;
}
.navbar .ulist{
  position: fixed;
  transition: 0.3s ease;
}
}


@media only screen and (min-width:600px) {
  .maincontainer{
    display: grid;
    grid-template-areas: 'header header header'
                         'menu main main'
                         'right right right'
                         'footer1 footer1 .' 
                         'footer2 footer2 .'
                         'footer3 footer3 .'; 
    gap: 1rem;
  }
  #sectionContainer{
    grid-area: header;
    background-image: url(./assets/images/image-web-3-desktop.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
  }
 .menu{
    grid-area: menu;
  }
  .main{
    grid-area: main;
  }
  #section_two{
    grid-area: right;
  }
  .section_three{
   grid-area: footer1;
}
  .section_four{
   grid-area: footer2;
}
  .section_five{
   grid-area: footer3;
}
}


@media only screen and (min-width:720px) {
  .mainheader{
    margin-block: 2rem;
}
  .maincontainer{
    display: grid;
    grid-template-areas: 'header header header right'
                          'menu main main right'
                          'footer1 footer1 footer2 footer2'
                          'footer3 footer3 . .'; 
    gap: 1rem;
  }
  #input:checked ~ .navbar .ulist {
    display: none; 
    right: 0;
    height: 0;
    box-shadow: none; 
}
.navbar .ulist {
   height: 0vh;
   width: 100%; 
   flex-direction: row; 
   background-color: transparent;
} 
.hamburger-menu {
  display: none;
}
.resize {
 display: none;
}
.ulist{
  gap: 2rem;
}
}

@media only screen and (min-width:978px) {
  .maincontainer{
    display: grid;
    grid-template-areas: 'header header header header right right'
                          'menu menu main main right right'
                          'footer1 footer1 footer2 footer2 footer3 footer3'; 
    gap: 1rem;
  }
}
@media only screen and (min-width:1240px) {
  body {
      margin: 4rem 8rem;
    }
  }
