:root{
    /* primary colors */
    --light_blue: #e1e5ee;
    --very_grayish_blue: hsl(275, 15%, 16%);
    --light_wt_blue: #dae1ec;
    --red_color: rgb(235, 4, 4);
    --lemon_green: rgb(149, 175, 1);
    --white_wt_bgc: rgb(245, 243, 242);
    --white_bluish: aliceblue;
    --very_dark_gray_white: hsl(240, 0%, 48%);
    --light_gray_white: hsl(0, 0%, 73%);
    --white: #fff;
}

     /* homepage for space tourism website */
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica,Arial,sans-serif;
}
#auto-spacing{
    padding-inline: 1.5rem;
}
.main-wrapper{
    background-image: url(./assets/home/background-home-mobile.jpg);
    background-position: center;
    background-size: cover;
}
.header-wrapper-blog{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-block-end: 3rem;
    position: relative;
}
#input{
    display: none;
}
.hamburger-wrapper{
    width: 50px;
    top: 42%;
    transform: translateY(-42%);
    right: 0;
    position: absolute;
}
.hamburger-icon{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 5px;
    background-color: var(--light_blue);
    border-radius: 10px;
}
.hamburger-icon::before{
    position: absolute;
    content: "";
    display: inline-block;
    width: 100%;
    height: 5px;
    top: -15px;
    background-color: var(--light_blue);
    border-radius: 10px;
}
.hamburger-icon::after{
    position: absolute;
    content: "";
    display: inline-block;
    width: 100%;
    top: 15px;
    height: 5px;
    background-color: var(--light_blue);
    border-radius: 10px;
}
.navbar .list-items{
    position: fixed;
    top: 0;
    right: -300px;
    background-color: var(--very_grayish_blue);
    z-index: 5;
    width: 250px;
    margin: 0;
    height: 100vh;
    list-style: none;
    padding: 2rem 0 0 1.5rem;
    transition: right 0.3s cubic-bezier(0.4, 0, 1, 1);
}
.navbar .list-items> li a{
    text-decoration: none;
    font-size: 20px;
    color: var(--light_wt_blue);
}
#input:checked ~ .navbar .list-items {
   display: block;
   box-shadow: 0 100rem 0 100rem rgba(0, 0, 0, 0.6);
   right: 0px;
}
.list-items li img{
    margin-bottom: 3rem;
}
.list-items> li {
    margin-block-end: 1rem;
}
.navbar .list-items> li .active:visited{
    color: var(--red_color);
}
.navbar .list-items> li a:hover{
    color: var(--red_color);
}
.navbar .list-items> li a:active{
    color: var(--lemon_green);
}

li a span{
    margin-inline-end: 0.7rem;
    display: none;
}
.icon-close img{
    float: right;
    margin-inline-end: 1.5rem;
    margin-block-start: 1rem;
}
.top-space{
    margin-top: 6rem;
}
.remove-element{
    z-index: 1;
    position: absolute;
    display: none;
}
.top .left-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.space{
    color: var(--white);
}
.par{
    color: var(--light_blue);
}
.show{
    display: block;
    height: 100vh;
    width: 100vw;
}
.left-container .par{
    font-size: 12px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
}
.par2{
    text-align: center;
    margin: 0;
    line-height: 1.7rem;
    color: var(--light_wt_blue);
    font-size: 12px;
}
.left-container h1{
    font-size: 5rem;
    text-transform: uppercase;
    margin: 1rem 0 2rem 0;
}
.left-cont{
    height: 15rem;
    width: 15rem;
    background-color: var(--white_wt_bgc);
    border-radius: 100%;
    position: relative;
    display: flex;
    justify-self: center;
    margin-top: 6rem;
    margin-bottom: 3rem;
}
.left-cont .par3{
    font-size: 2rem;
    text-transform: uppercase;
    margin: 1rem 0 2rem 0;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-40%, -45%);
}
.top{
    display: grid;
}




   /* Destination Europa */

.page-0ne-destination{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 15px;
    text-decoration: none;
    color: var(--white);
   }
.page-0ne-destination .page-focus{
    color: var(--very_dark_gray_white);
    margin-right: 0.7rem;
}
.menu-top-item{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0;
}
.top-menu {
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 0.6rem;
    font-size: 12px;
    letter-spacing: 3px;
}
.menu-top-item .top-menu a{
    color: var(--light_gray_white);
    text-decoration: none;
    padding-bottom: 0.5rem;
}
.on-focus {
    border-bottom: 2px solid var(--light_gray_white);
}
.menu-top-item .top-menu a:hover{
    opacity: 0.7;
    border-bottom: 2px solid var(--very_dark_gray_white);
}
.europa{
    font-size: 3rem;
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 3px;
}
.euro-img {
    padding-block: 4rem;
}
.euro-img img{
   max-width: 100%;
}
.euro-par{
    border-bottom: 1px solid var(--very_dark_gray_white);
    padding-bottom: 3rem;
}
.bottom-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.bottom p{
    color: var(--light_gray_white);
    margin: 1rem 0 0.5rem 0;
}
.bottom h2{
    color: var(--white);
    margin: 0;
}