@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,700;1,700&display=swap');


.root{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Public Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#classic{
    padding: 1.2rem 1.2rem;
}
.headerContainer{
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 10000;
    background-color: hsl(0, 0%, 100%);
  }
#input{
    display: none;
}
.hamburger-menu {
  position: fixed;
  top: 20px; 
  right: 20px; 
  z-index: 1000; 
  cursor: pointer;
}
/*  */
.hamburger-icon {
  width: 30px;
  height: 20px;
  background-color: #fff; 
  position: relative;
  font-weight: 800;
}
.middle-line {
  width: 30px;
  background-color: #333; 
  height: 2px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.hamburger-icon::before,
.hamburger-icon::after {
  content: '';
  width: 25px;
  height: 2px;
  background-color: #333; 
  position: absolute;
  left: 0;
  transition: transform 0.3s ease;
  font-weight: 700;
}
.hamburger-icon::before {
  top: 0;
}
.hamburger-icon::after {
  bottom: 0;
}
.hamburger-icon.open::before {
  transform: translateY(9px) rotate(45deg);
}
.hamburger-icon.open::after {
  transform: translateY(-9px) rotate(-45deg);
}
.hamburger-icon.open .middle-line {
  opacity: 0; 
}
.ulList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0rem;
  height: 30vh;
  position: fixed;
  top: auto;
  left: 50%;
  bottom: 74%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width:90%;
  border-radius: 5px;
  z-index: 1000;
}
.hidden{
  display: none;
}
.items {
  padding-bottom: 1.2rem;
  font-weight: 400;
}
#navContainer > li:nth-child(1){
  padding-top: 1rem;
}
.items a{
  text-decoration: none;
  color: hsl(233, 26%, 24%);
}
.items a:hover{
  color: hsl(136, 65%, 51%);
}
#fitems a:visited{
  color: hsl(136, 65%, 51%);
}
#btn{
   background: linear-gradient(to left, hsl(192, 70%, 51%), hsl(136, 65%, 51%));
   border-radius: 30px;
   border: none;
   font-size: 15px;
   padding: 15px 30px;
   color: hsl(0, 0%, 100%);
   font-weight: 700;
   cursor: pointer;
}
#btn:hover{
    opacity: 0.6;
    transition: 0.3s;
}
button.items:nth-child(6){
    display: none;
}
.section_two{
    margin-top: 0rem;
}
.headOne{
    font-size: 2.5rem;
    text-align: center;
    color: hsl(233, 26%, 24%);
    font-weight: 300;
    margin-bottom: 0;
}
.paraOne{
    color: hsl(233, 8%, 62%);
    line-height: 25px;
    font-size: 15px;
    text-align: center;
}
.btnContainer{
    text-align: center;
}
.sectionDivtwo{
    margin-top: 4rem;
    background-color: hsl(220, 16%, 96%);
}
.blogTopic{
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    color: hsl(233, 26%, 24%);
    padding-top: 1.5rem;
}
#blogPar{
    text-align: center;
}
.online{
    color:hsl(233, 8%, 62%);
    font-size: 1.2rem;
    font-weight: 400;
}
.imgHeader{
   margin-bottom: 0px;
}
.articleContainer{
    color: hsl(233, 26%, 24%);
    font-size: 1.2rem;
    margin-top: 4rem;
    font-weight: 300;
    margin-bottom: 2rem;
}
.blogpostImg .blogImg{
    width: 100%;
    height: 12rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.blogPostHeader6{
    margin: 0px;
    color:hsl(233, 8%, 62%);
    font-size: 0.6rem;
    font-weight: 400;
}
.blogPostHeader3{
    color: hsl(233, 26%, 24%);
    font-size: 1rem;
    font-weight: 700;
}
#blogArtPar{
    font-size: 13px;
    color:  hsl(233, 8%, 62%);
    margin: 0;
    line-height: 20px;
    font-weight: 400;
}
#blogSpace{
    margin-top: 3rem;
}
.blogPost1{
    background-color: hsl(0, 0%, 100%);
    margin-bottom: 3rem;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}
.blogPostHeader3>a{
  text-decoration: none;
  color: hsl(233, 26%, 24%);
  transition: 0.3s;
}
.blogPostHeader3>a:hover{
  color: hsl(136, 65%, 51%);
}
.section_Three{
    background-color: hsl(0, 0%, 98%);
}
.sectionFour{
    background-color: hsl(233, 26%, 24%);
}
.footerLogo> img{
    margin: 1.5rem;
    cursor: pointer;
}
.footerSocialMedias{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.footerSocialMedias .facebook{
    cursor: pointer;
}
.aboutUs{
    color: hsl(233, 8%, 62%);
    margin-bottom: 1rem;
    cursor: pointer;
    padding: 0 1rem;
}
.aboutUs>a{
  text-decoration: none;
  color: hsl(233, 8%, 62%);
  transition: 0.3s;
}
.aboutUs>a:hover{
  color: hsl(136, 65%, 51%);
}
.copyright{
    margin-top: 2rem;
}
#cright{
    margin: 2rem 0px;
    color: hsl(233, 8%, 62%);
}
.itembtn{
    display: none;
}
.setion_one{
    position: relative;
    top: -5rem;
    left: 0rem;
    height: 100vh;
    width: 100%;
    z-index: -3;
    overflow: hidden;
}
.imgContainer{
    position: absolute;
    background-image: url(./images/bg-intro-desktop.svg);
    background-size: cover;
    background-position: center;
    width: 60%;
    height: 80%;
    left: 55%;
    top: 0px;
    z-index: -2;
}
.image-mockups{
    position: absolute;
    top: 0px;
    right: -5%;
    height: 100%;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  display: none;
  /* cursor: pointer; */
}
.overlay.active {
  display: block;
}
.show{
  display: block;
}

@media only screen and (max-width: 1440px) {
    #classic {
        padding: 1.2rem 10rem;
    }
    .headerContainer{
      display: flex;
          position: sticky;
          top: 0;
          z-index: 10000;
      }
      #classic > div.logoContainer > img{
        padding-top: 14px;
      }
      #hambuggerContainer {
        display: none;
      }
      .hidden{
        display: block;
      }
      .ulList{
        display: flex;
        flex-direction: row;
        height: 0vh;
        top: 8%;
        left: 50%;
        transform: translate(-25%, -25%);
        width:0%;
        box-shadow: none;
        gap: 2rem;
      }
      #navContainer > li:nth-child(1) {
         padding-top: 0rem; 
    }
    .items a:hover{
      color: hsl(136, 65%, 51%);
      border-bottom: 2px solid hsl(136, 65%, 51%);
      padding-bottom: 2rem;
    }
      #hide{
        z-index: 1;
        margin-top: 3rem;
      }
      .headerContainer{
        z-index: 1000;
      }
     .upSect{
        height: 0rem;
      }
      .setion_one{
        position: relative;
        top: -6rem;
        left: 0rem;
        height: 100vh;
        width: 100%;
        z-index: 3;
        overflow: hidden;
    }
    .imgContainer{
        position: absolute;
        background-image: url(./images/bg-intro-desktop.svg);
        background-size: cover;
        background-position: center;
        width: 70%;
        height: 85%;
        left: 53%;
        top: 0px;
        z-index: -1;
    }
    .image-mockups{
        position: absolute;
        top: 0px;
        right: -5%;
        height: 102%;
        z-index: -1;
    }
    .sectionDivOne{
        width: 50%;
        z-index: 10;
        position: relative;
    }
    .headOne {
        text-align: start;
      }
      .btnContainer {
        text-align: start;
      }
      .headOne{
        width: 50%;
      }
      .paraOne{
        text-align: left;
    }
      .sectionDivOne > p:nth-child(2){
        width: 60%;
      }
      .blogTopic {
        text-align: start;
    }
    #blogd{
        width: 60%;
    }
    #blogPar {
        text-align: start;
        width: 100%;
      }
      .div2{
        display: flex;
        flex-direction: row;
        gap: 1.8rem;
        padding: 1.2rem 10rem 1.2rem 10rem;
      }
      #blogPar >img {
        height: 50px;
      }
      .articleBlogPost{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        flex-wrap: wrap;
        margin-bottom: 3rem;
        width: 100%
      }
      .blogPost1 {
        width: 14.4rem;
      }
      #blogSpace{
        margin-top: 0;
      }
      #classPost{
        margin: 1.2rem;
      }
      .sectionFour{
        display: flex;
        flex-direction: row;
        gap: 4rem;
      }
      .footerLogo{
        margin-bottom: 1.5rem;
      }
      .internalLinks{
        margin-top: 2rem;
      }
      .copyright{
        padding-left: 9rem;
      }
      div.bttn:nth-child(1){
        text-align: end;
      }
    #cright{
      text-align: start;
    }
    .btt{
      text-align: end;
    }
    #removeContainer{
      display: none;
    }
}

@media only screen and (max-width: 600px) {
     #classic {
        padding: 1.2rem 1.2rem;
      }
      .headerContainer{
        position: sticky;
        top: 0;
        bottom: 0;
        z-index: 10000;
        background-color: white;
    }
    #classic > div.logoContainer > img{
      padding-top: 0px;
      position: sticky;
    }
      #hambuggerContainer {
        display: initial;
      }
    .itembtn{
        display: none;
    }
    .hidden{
      display: none;
    }
    .ulList{
      flex-direction: column;
      height: 32vh;
      top: 28%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      gap: 0rem;
      /* box-shadow: 0 300rem 0 300.6rem rgba(0, 0, 0, 0.6); */
      cursor: pointer;
    }
    #navContainer > li:nth-child(1) {
       padding-top: 1rem; 
  }
  .items a:hover{
    color: hsl(136, 65%, 51%);
    border-bottom: none;
    padding-bottom: 0rem;
  }
      .upSect{
        height: 40vh;
      }
      .setion_one{
        position: relative;
        top: -1.5rem;
        left: 0rem;
        height: 27vh;
        width: 100%;
        z-index: -3;
        overflow: visible;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imgContainer{
        background-image: url(./images/bg-intro-mobile.svg);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 159%;
        left: 0px;
        z-index: -2;
    }
    .image-mockups{
        position: relative;
        background-size: cover;
        top: 10px;    
        margin: 0 2rem;
        right: 0%;
        height: 200%;
    }
    #hide{
      margin-top: -3rem;
      z-index: 0;
    }
    .sectionDivOne{
        width: initial;
        z-index: 0;
        position: inherit;
    }
    .headOne {
        text-align: center;
        width: initial;
      }
      .paraOne{
        text-align: center;
    }
      .btnContainer {
        text-align: initial;
      }
      .sectionDivOne > p:nth-child(2){
        width: initial;
      }
      .bttn{
        text-align: center;
        margin-top: 2rem;
      }
      #close-btn{
        display: none;
      }
      .blogTopic {
        text-align: center;
    }
    #blogPar {
        text-align: center;
      }
      .blogTopic {
        text-align: center;
    }
    #blogd{
        width: 100%;
    }
    #blogPar {
        text-align: center;
        width: initial;
      }
      .div2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: initial;
        padding: 1.2rem;
      }
      #blogPar >img {
        height: initial;
      }
      .articleBlogPost{
        flex-direction: column;
        gap: 0rem;
        width: 100%
      }
      .blogPost1 {
        width: 100%;
      }
      #blogSpace{
        margin-top: 0;
      }
      #classPost{
        margin: 1.2rem;
      }
      .sectionFour{
        display: flex;
        flex-direction: column;
        gap: 0rem;
      }
      .footerLogo{
        margin-bottom: 0;
        text-align: center;
      }
      .internalLinks{
        margin-top: 0;
        text-align: center;
      }
      .copyright{
        padding-left: 0;
        margin-top: 0rem;
      }
      div.bttn:nth-child(1){
        text-align: center;
      }
    #cright{
      text-align: center;
    }
    .btt{
      text-align: center;
    }
    #hambuggerContainer{
      position: fixed;
      top: 1.5rem;
      right: 2rem;
    }
}
