.root{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#classic{
    padding: 1.2rem 2rem;
}
.headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    bottom: 0;
    background-color: hsl(0, 0%, 100%);
    position: relative;
}
#input{
    display: none;
}
#hambuggerContainer{
    width: 2rem;
}
.hambugger{
    width: 100%;
    height: 2px;
    position: relative;
    background-color: black;
    margin-top: 5px;
    display: inline-block;
    margin-bottom: 3px;
    cursor: pointer;
}
.hambugger::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    display: inline-block;
    margin-top: -5px;
    margin-bottom: -20px;
}
.hambugger::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 20px;
}
.navContainer{
    display: none;
}
#input:checked ~ .navContainer{
    display: block;
}
#input:checked ~ .hambugger{
    display: none;
}
.navContainer .navList .ulList{
    height: 225px;
    width: 85%;
    top: 40px;
    display: flex;
    flex-direction: column;
    right: 0rem;
    background-color: hsl(0, 0%, 100%);
    margin: 2rem 2rem 0rem 0rem;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    padding: 20px 0 0 0px;
    list-style: none;
    border-radius: 10px;
}
.navContainer .navList .ulList>.items{
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
}
.navContainer .navList .ulList>.items> a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
#btn{
   background: linear-gradient(to left, hsl(192, 70%, 51%), hsl(136, 65%, 51%));
   border-radius: 30px;
   border: none;
   font-size: 15px;
   padding: 15px 30px;
   color: hsl(0, 0%, 100%);
   font-weight: 600;
   cursor: pointer;
}
#btn:hover{
    opacity: 0.6;
    transition: 0.3s;
}
button.items:nth-child(6){
    display: none;
}
.section_two{
    margin-top: 0rem;
}
.headOne{
    font-size: 2.5rem;
    font-family: sans-serif;
    text-align: center;
    color: hsl(233, 26%, 24%);
    font-weight: 300;
    margin-bottom: 0;
}
.paraOne{
    color: hsl(233, 8%, 62%);
    line-height: 25px;
}
.btnContainer{
    text-align: center;
}
.sectionDivtwo{
    margin-top: 4rem;
    background-color: hsl(220, 16%, 96%);
}
.blogTopic{
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    font-family: sans-serif;
    color: hsl(233, 26%, 24%);
    padding-top: 1.5rem;
}
#blogPar{
    text-align: center;
}
.online{
    color:hsl(233, 8%, 62%);
    font-size: 1.2rem;
    font-weight: 400;
}
.imgHeader{
   margin-bottom: 0px;
}
.articleContainer{
    color: hsl(233, 26%, 24%);
    font-size: 1.2rem;
    margin-top: 4rem;
    font-family: sans-serif;
    font-weight: 300;
    margin-bottom: 2rem;
}
.blogpostImg .blogImg{
    width: 100%;
    height: 12rem;
    border-radius: 5px;
}
.blogPostHeader6{
    margin: 0px;
    color:hsl(233, 8%, 62%);
    font-size: 0.6rem;
    font-weight: 300;
    font-family: sans-serif;
}
.blogPostHeader3{
    color: hsl(233, 26%, 24%);
    font-size: 0.8rem;
    font-weight: 600;
    font-family: sans-serif;
}
#blogArtPar{
    font-size: 13px;
    color:  hsl(233, 8%, 62%);
    margin: 0;
    font: 300;
}
#blogSpace{
    margin-top: 3rem;
}
.blogPost1{
    background-color: hsl(0, 0%, 100%);
}
.blogPostHeader3>a{
  text-decoration: none;
  color: hsl(233, 26%, 24%);
  transition: 0.3s;
}
.blogPostHeader3>a:hover{
  color: hsl(136, 65%, 51%);
}
.section_Three{
    background-color: hsl(0, 0%, 98%);
}
.sectionFour{
    background-color: hsl(233, 26%, 24%);
}

.footerLogo> img{
    margin: 1.5rem;
    cursor: pointer;
}
.footerSocialMedias{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.footerSocialMedias .facebook{
    cursor: pointer;
}
.aboutUs{
    color: hsl(233, 8%, 62%);
    margin-bottom: 1rem;
    cursor: pointer;
}
.aboutUs>a{
  text-decoration: none;
  color: hsl(233, 8%, 62%);
  transition: 0.3s;
}
.aboutUs>a:hover{
  color: hsl(136, 65%, 51%);
}
.copyright{
    margin-top: 2rem;
}
#cright{
    margin: 2rem 0px;
    color: hsl(233, 8%, 62%);
}
.itembtn{
    display: none;
}
.setion_one{
    position: relative;
    top: -5rem;
    left: 0rem;
    height: 100vh;
    width: 100%;
    z-index: -3;
    overflow: hidden;
}
.imgContainer{
    position: absolute;
    background-image: url(./images/bg-intro-desktop.svg);
    background-size: cover;
    background-position: center;
    width: 60%;
    height: 80%;
    left: 55%;
    top: 0px;
    z-index: -2;
}
.image-mockups{
    position: absolute;
    top: 0px;
    right: -5%;
    height: 100%;
}

@media only screen and (max-width: 1440px) {
    #classic {
        padding: 1.2rem 10rem;
    }
    .headerContainer{
          position: sticky;
          top: 0;
          z-index: 10000;
      }
      #hambuggerContainer {
        display: none;
      }
      .navContainer {
        display: block;
        justify-content: center;
      }
      .navContainer .navList .ulList {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        top: 0px;
        height: 0px;
        width: 0px;
        right: 0rem;
        box-shadow: none;
        gap: 2rem;
        margin: 1.8rem 0rem 0rem 0rem;
        width: 100%;
        padding: 0px;
      }
      .itembtn{
        display: initial;
    }
      .imgLogo{
        padding-top: .8rem;
      }
      .navContainer .navList .ulList > .items {
        padding-top: 2rem;
    }
    .navContainer .navList .ulList > .items > a {
        color: hsl(233, 8%, 62%);
      }
    .navContainer .navList .ulList > .items > a:hover {
        border-bottom: 2px solid hsl(136, 65%, 51%);
        padding-bottom: 2.3rem;
        color: black;
      }
      #hide{
        z-index: 10;
        margin-top: 3rem;
      }
      .headerContainer{
        z-index: 1000;
      }
     .upSect{
        height: 0rem;
      }
      .setion_one{
        position: relative;
        top: -6rem;
        left: 0rem;
        height: 100vh;
        width: 100%;
        z-index: 3;
        overflow: hidden;
    }
    .section_two{
        z-index: -3;
        position: relative;
    }
    .imgContainer{
        position: absolute;
        background-image: url(./images/bg-intro-desktop.svg);
        background-size: cover;
        background-position: center;
        width: 70%;
        height: 85%;
        left: 53%;
        top: 0px;
        z-index: -1;
    }
    .image-mockups{
        position: absolute;
        top: 0px;
        right: -5%;
        height: 102%;
        z-index: 1;
    }
    .sectionDivOne{
        width: 50%;
    }
    .headOne {
        text-align: start;
      }
      .btnContainer {
        text-align: start;
      }
      .headOne{
        width: 50%;
      }
      .sectionDivOne > p:nth-child(2){
        width: 60%;
      }
      .blogTopic {
        text-align: start;
    }
    #blogd{
        width: 60%;
    }
    #blogPar {
        text-align: start;
        width: 100%;
      }
      .div2{
        display: flex;
        flex-direction: row;
        gap: 1.8rem;
        padding: 1.2rem 10rem 1.2rem 10rem;
      }
      #blogPar >img {
        height: 50px;
      }
      .articleBlogPost{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        flex-wrap: wrap;
        margin-bottom: 3rem;
        width: 100%
      }
      .blogPost1 {
        width: 14.3rem;
      }
      #blogSpace{
        margin-top: 0;
      }
      #classPost{
        margin: 1.2rem;
      }
      .sectionFour{
        display: flex;
        flex-direction: row;
        gap: 6rem;
      }
      .footerLogo{
        margin-bottom: 1.5rem;
      }
      .internalLinks{
        margin-top: 2rem;
      }
      .copyright{
        padding-left: 11rem;
      }
      div.bttn:nth-child(1){
        text-align: end;
      }
    #cright{
      text-align: start;
    }
    .bttn{
      margin-top: 4rem;
    }
    .btt{
      text-align: end;
    }
    #removeContainer{
      display: none;
    }
}

@media only screen and (max-width: 500px) {
     #classic {
        padding: 1.2rem 2rem;
      }
      .headerContainer{
        position: sticky;
        top: 0;
        z-index: 10000;
        background-color: white;
    }
      #hambuggerContainer {
        display: initial;
      }
      .navContainer {
        display: none;
    }
    .itembtn{
        display: none;
    }
       .navContainer .navList .ulList{
        height: 225px;
        width: 83%;
        width: 83%;
        top: 40px;
        display: flex;
        flex-direction: column;
        right: 0rem;
        margin: 2rem 2rem 0rem 0rem;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        padding: 35px 0 0 0px;
        gap: 0.6rem;
        padding-top: 30px;
        box-shadow: 0px 299.4rem 0px 300rem rgba(0, 0, 0, 0.5);

    }
    #navContainer.active{
        box-shadow: 0px 299.4rem 0rem 300rem rgba(0, 0, 0, 0.5);
    }
    .items:hover {
      border-bottom: 2px solid hsl(136, 65%, 51%);
      padding-bottom: 0px;
      color: black;
      transition: 0.3s;
    }
     .imgLogo{
        padding-top: 0rem;
      }
      .navContainer .navList .ulList > .items {
        padding-top: 0rem;
    }
     .navContainer .navList .ulList > .items > a {
      color: black;
    }
    .navContainer .navList .ulList > .items > a:hover {
        border-bottom: none;
        padding-bottom: 0rem;
      }
      .upSect{
        height: 17rem;
      }
      .setion_one{
        position: relative;
        top: -7.2rem;
        left: 0rem;
        height: 27vh;
        width: 100%;
        z-index: -3;
        overflow: hidden;
    }
    .imgContainer{
        background-image: url(./images/bg-intro-mobile.svg);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 122%;
        left: 0px;
        z-index: -2;
    }
    .image-mockups{
        position: relative;
        background-size: cover;
        top: 0px;    
        margin: 0 2rem;
        right: 3%;
        height: 105%;
    }
    .sectionDivOne{
        width: initial;
    }
    .headOne {
        text-align: center;
      }
      .btnContainer {
        text-align: initial;
      }
      .headOne{
        width: initial;
      }
      .sectionDivOne > p:nth-child(2){
        width: initial;
      }
      .bttn{
        text-align: center;
        margin-top: 2rem;
      }
      .blogTopic {
        text-align: center;
    }
    #blogPar {
        text-align: center;
      }
      .blogTopic {
        text-align: center;
    }
    #blogd{
        width: 100%;
    }
    #blogPar {
        text-align: center;
        width: initial;
      }
      .div2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: initial;
        padding: 1.2rem;
      }
      #blogPar >img {
        height: initial;
      }
      .articleBlogPost{
        flex-direction: column;
        gap: 0rem;
        width: 100%
      }
      .blogPost1 {
        width: 100%;
      }
      #blogSpace{
        margin-top: 0;
      }
      #classPost{
        margin: 1.2rem;
      }
      .sectionFour{
        display: flex;
        flex-direction: column;
        gap: 0rem;
      }
      .footerLogo{
        margin-bottom: 0;
        text-align: center;
      }
      .internalLinks{
        margin-top: 0;
        text-align: center;
      }
      .copyright{
        padding-left: 0;
        margin-top: 0rem;
      }
      div.bttn:nth-child(1){
        text-align: center;
      }
    #cright{
      text-align: center;
    }
    .btt{
      text-align: center;
    }
    #hambuggerContainer{
      position: fixed;
      top: 1.5rem;
      right: 2rem;
    }
}
