.root{
    box-sizing: border-box;
    margin: 0px;
    padding: 0%;
}
body{
    margin: 0rem;
    background-color: hsl(0, 0%, 100%);
}
.mainHeader{
    display: flex;
    gap: 0.5rem;
    margin: 1.2rem 1.2rem;
}
.mainHeader .avatar>img{
    height: 22px;
}
.headerContainer{
    width: 1rem;
    overflow: hidden;
}
#input{
    display: none;
}
#hambugger{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    width: 100%;
    height: 3px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
#hambugger::before{
    margin-top: -5px;
    margin-bottom: -10px;
    background-color: black;
    width: 100%;
    height: 3px;
    display: inline-block;
    content: "";
    position: absolute;
    cursor: pointer;
}
#hambugger::after{
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: black;
    width: 100%;
    height: 3px;
    display: inline-block;
    content: "";
    position: absolute;
    cursor: pointer;
}
#input:checked ~ .navContainer>.navBar>.itemsList{
    left: 0px;
    transition: 0.05s;
    box-shadow: 200px 0px 350px rgb(5, 5, 5)
}
#open_cart{
  display: none;
}
.productContents{
padding: 10px;
background-color: #fff;
margin-bottom: 10px;
}
#cartLogo{
  background-color: red;
  color: white;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  cursor: pointer;
  position: absolute;
  top: -8px;
  right: -5px;
}
.cartPreview{
  position: absolute;
  margin-top: 25px;
  left: 0px;
  background-color: #787777;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: none;
}
.cartPreview.show{
  display: block;
  top: 60px;
}
.cartPreview{
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.cart-item{
  display: none;
}
.cart-item.visible{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  background-color: aliceblue;
  width: 100%;
}
#cartLogo:checked ~ .cartPreview{
  display: block;
}
.navContainer>.navBar>.itemsList{
    height: 100vh;
    width: 225px;
    background-color: hsl(223, 64%, 98%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    justify-content: flex-start;
    margin: 0px;
    top: 0px;
    left: -300px;
    z-index: 1;
    list-style: none;
    padding: 0px 0px 0px 20px;
    font-size: 22px;
    box-shadow: 0px 0px 0px rgb(5, 5, 5)
}
.remove{
    margin-bottom: 40px;
    margin-top: 25px;
    cursor: pointer;
}
.navContainer>.navBar>.itemsList>li{
   margin-bottom: 1.5rem;
}
.navContainer>.navBar>.itemsList>li>a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.avatar{
    margin-inline-end: 0.1rem;
    margin-inline-start: 0px;
}
.cart{
    margin-inline-end: 0.5rem;
    margin-inline-start: auto;
    background-image: url(./images/icon-cart.svg);
    height: 20px;
    width: 22px;
    background-size: cover;
    position: relative;
}
.sectionDiv_one{
    background-image: url(./images/image-product-1.jpg);
    background-size: cover;
    position: relative;
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.picContainer{
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  position: relative;
}
#element1{
  background-image: url(./images/image-product-1.jpg);
  background-size: cover;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 10px;
  cursor: pointer;
}
#element2{
  background-image: url(./images/image-product-2.jpg);
  background-size: cover;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 10px;
  cursor: pointer;
}
#element3{
  background-image: url(./images/image-product-3.jpg);
  background-size: cover;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 10px;
  cursor: pointer;
}
#element4{
  background-image: url(./images/image-product-4.jpg);
  background-size: cover;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 10px;
  cursor: pointer;
}
#prev{
    margin: 1rem;
    height: 35px;
    width: 35px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 100%;
    border-color:1px solid hsl(0, 0%, 100%);
    border: none;
}
#prev img{
   width: 7px;
   height: 12px;
   margin: 12px;
   cursor: pointer; 
}
.sectionTwo{
    margin-bottom: 0px;
}
.newHead{
    color: hsl(26, 100%, 55%);
    font-weight: 700;
    font-family: hsl(0, 0%, 0%);
    font-size: 13px;
    letter-spacing: 1px;
    margin: 1.2rem 1.2rem 0px 1.2rem;
}
.newSneak{
    margin: 1rem 1.2rem 0px 1.2rem;
    font-family: hsl(0, 0%, 0%);
    font-size: 30px;
    font-weight: 600;
}
.para{
    margin: 1rem 1.2rem 0px 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    color: hsl(220, 14%, 75%);
    font-weight: 500;
    line-height: 25px;
}

.oneTime{
    display: flex;
    justify-content: space-between;
    margin: 0rem 1.2rem 0px 1.2rem;
    background-color: hsl(223, 64%, 98%);
    border-radius: 6px;
    padding-top: 5px;
}
.srcN1{
   margin: 21px;
   cursor: pointer;
}
.srcN2{
   font-weight: 600;
   cursor: pointer;
}
.srcN3{
 margin: 22px;
 cursor: pointer;
}
.oneTimecode{
    margin: 1.2rem 1.2rem 1.2rem 1.2rem;
    background-color: hsl(26, 100%, 55%);
    border-radius: 6px;
    padding: 0px 100px;
    color: hsl(219, 9%, 45%);
    display: flex;
    align-content: center;
    align-items: center;
    gap: 10px;
}
.mainContainer{
    display: flex;
    flex-wrap: wrap;
  }
  .sectionOne{
    width: 100%;
  }
  .rateBox{
    display: flex;
    gap: 1rem;
    margin: 1.2rem;
  }
  .rateBox #DisRate{
    font-weight: 600;
    font-family: hsl(0, 0%, 0%);
    font-size: 25px;
  }
  .rateBox #offPer{
    background-color: hsl(25, 100%, 94%);
    padding: 3px 8px 3px 8px;
    border-radius: 10%;
    color: hsl(26, 100%, 55%);
    font-weight: 600;
    text-align: center;
    margin-right: 5rem;
    font-family: hsl(0, 0%, 0%)
  }
  .rateBox #realRate{
    padding: 3px;
    border-radius: 20%;
    color: hsl(220, 14%, 75%);
    font-weight: 600;
    text-decoration: line-through;
    margin-inline-end: 1rem;
  }
@media only screen and (max-width:1440px) {
    .headerContainer {
      display: none;
      }
      .mainHeader{
        display: flex;
        gap: 0.5rem;
        margin: 2rem 8rem ;
        border-bottom: 0.01px solid hsl(0, 0%, 91%);
        padding-bottom: 1rem;
      }
    .navContainer> .navBar> .itemsList {
      display: flex;
      flex-direction: row;
      height: 0px;
      position: absolute;
      background-color: hsl(0, 0%, 100%);
      list-style: none;
      font-size: 18px;
      left: 10rem;
      margin: 2rem 8rem;
      gap: 2rem;
      z-index: 1;
    }
    .navContainer> .navBar> .itemsList>li>a {
     color: hsl(220, 14%, 75%);
     cursor: pointer;
    }
    .navContainer> .navBar> .itemsList>li>a:hover {
      color:  hsl(0, 0%, 0%);
      padding-bottom: 28px;
      border-bottom: 2px solid hsl(26, 100%, 55%);
    }    
    .itemsList > li {
      color: hsl(0, 0%, 91%);
      }
    .remove {
       display: none;
      }
      .mainHeader .avatar > img {
        height: 30px;
        margin: 0;
      }
      .mainContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 5rem;
        padding-top: 2rem;
      }
      .sectionOne{
        width: 25%;
        margin: 0rem 0rem 0rem 12rem;
      }
      .sectionDiv_one{
        border-radius: 15px;
        height: 350px;
      }
      .picContainer{
        display: flex;
      }
      .previous_icon{
        display: none;
      }
      .next_icon{
        display: none;
      }
      .sectionTwo{
        width: 35%;
        margin-top: 2rem;
      }
      .newSneak {
        margin: 1rem 1.2rem 0px 1.2rem;
        font-family: hsl(0, 0%, 0%);
        font-size: 45px;
        font-weight: 10000;
        line-height: 2.7rem;
        padding-bottom: 5px;
      }
      
      .catContainer{
        display: flex;
        flex-direction: row;
        margin: 2rem 0px;
      }
      .oneTime {
        display: flex;
        justify-content: space-between;
        margin: 0rem 0.5rem 0px 1.2rem;
        background-color: hsl(223, 64%, 98%);
        border-radius: 5px;
        padding: 0px 10px;
        height: 50px;
        gap: 20px;
        border: none;
      }
      .oneTimecode {
        margin: 0rem 0px;
        background-color: hsl(26, 100%, 55%);
        border-radius: 5px;
        padding: 0px 50px;
        color: hsl(219, 9%, 45%);
        display: flex;
        align-content: center;
        align-items: center;
        gap: 10px;
        height: 50px;
        border: none;
        cursor: pointer;
      }
      .oneTimecode > div:nth-child(1) > img:nth-child(1){
       height: 15px;
      }
      .srcN4{
        font-size: 15px;
      }
      .srcN3{
        padding: 0px;
        margin: 18px 23px;
      }
      .picture:hover{
        border: 2px solid hsl(26, 100%, 55%);
        opacity: 0.5;
       }
      .rateBox{
        gap: 1rem;
      }
     
      .rateBox #offPer{
        margin-right: 0rem;
      }
      .rateBox #realRate{
        position: absolute;
      }
      .rate2{
        position: absolute;
        margin-top: 2.5rem;
      }
}

@media only screen and (max-width:600px) {
    .headerContainer {
      display: initial;
      border: none;
      }
      .mainHeader{
        display: flex;
        gap: 0.5rem;
        margin: 1.2rem 1.2rem;
        border-bottom: 0px;
        padding-bottom: 0rem;
      }
    .navContainer>.navBar>.itemsList{
      height: 100vh;
      width: 225px;
      background-color: hsl(223, 64%, 98%);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: fixed;
      justify-content: flex-start;
      margin: 0px;
      top: 0px;
      left: -300px;
      gap: .5rem;
      z-index: 1;
      list-style: none;
      padding: 0px 0px 0px 20px;
      font-size: 22px;
      box-shadow: 0px 0px 0px rgb(5, 5, 5)
    }
    .navContainer> .navBar> .itemsList>li>a {
        color: hsl(0, 0%, 0%);
        cursor: pointer;
       }
    .remove {
       display: initial;
      }
      .mainHeader .avatar > img {
        height: 22px;
      }
      .avatar {
        margin-inline-end: 0.1rem;
        margin-inline-start: 0px;
      }
      .sectionOne{
        width: 100%;
        margin: 0rem 0rem;
      }
      .mainContainer{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0rem;
        padding-top: 0rem
      }
      .sectionDiv_one{
        border-radius: 0px;
        height: 400px;
      }
      .previous_icon{
        display: initial;
      }
      .next_icon{
        display: initial;
      }
      .sectionTwo{
        width: 100%;
        margin-top: 0rem;

      }
      .newSneak {
        margin: 1rem 1.2rem 0px 1.2rem;
        font-family: hsl(0, 0%, 0%);
        font-size: 30px;
        font-weight: 600;
        padding-bottom: 0px;
        line-height: 2rem;
      }
      
      .catContainer{
        display: flex;
        flex-direction: column;
        margin: 0rem 0px;
      }
      .oneTime {
        display: flex;
        justify-content: space-between;
        margin: 0rem 1.2rem 0px 1.2rem;
        background-color: hsl(223, 64%, 98%);
        border-radius: 5px;
        padding-top: 5px;
        border: none;
      }
      .oneTimecode {
        margin: 1.2rem 1.2rem 1.2rem 1.2rem;
        background-color: hsl(26, 100%, 55%);
        border-radius: 5px;
        padding: 3px 100px;
        color: hsl(219, 9%, 45%);
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        gap: 10px;
        border-color: 1px solid hsl(26, 100%, 55%);
        border: none;
      }
      .oneTimecode > div:nth-child(1) > img:nth-child(1){
        height: 15px;
       }
       .srcN4{
         font-size: 15px;
       }
       .srcN3{
         padding: 0px;
         margin: 19px;
       }
       .picContainer{
        display: none;
      }
      .rateBox #offPer{
        margin-right: 6rem;
      }
      .rate2{
        position: initial;
      }
}

