@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

:root{
    /* # Colors */

--Very_Dark_Grayish_Blue: hsl(217, 19%, 35%);
--Desaturated-Dark_Blue: hsl(214, 17%, 51%);
--Grayish_Blue: hsl(212, 23%, 69%);
--Light_Grayish_Blue: hsl(210, 46%, 95%);

/* ## Typography */


/* paragraph font sizes */
--paragrah_font_size: 13px;

/* font-weight */

--regular_fw: 500;
--bold_fw: 700;
}
body{
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--Light_Grayish_Blue)
}
.wrapper-contaniner{
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    position: absolute;
    background-color: white;
    border-radius: 10px;
}
.image-block{
    height: 50%;
}
.image-block> img{
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.wrapper-two{
    margin: 1.5rem 1.5rem 1rem 1.5rem;
}
.wrapper-section-one > .text-block{
    font-size: 15px;
    font-weight: 700;
    margin-block-start: 0;
    color:  var(--Very_Dark_Grayish_Blue);  
}
.para-block{
    font-size: 12px;
    color: var(--Desaturated-Dark_Blue);
}
.wrapper-section-two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 2rem;
}
.user-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.user-info> img{
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
}
.name-heading{
    margin: 0;
    font-size: 10px;
    color: var(--Very_Dark_Grayish_Blue);
}
.date-heading{
    margin: 0;
    font-size: 10px;
    color: var(--Grayish_Blue);
}
.share-btn{
    background-color: var(--Light_Grayish_Blue);
    border-radius: 100%;
    height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.8rem;
    cursor: pointer;
    z-index: 1;
    position: relative;
}
.bottom-share{
    height: 5rem;
    width: 100%;
    background-color: var(--Very_Dark_Grayish_Blue);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    bottom: 0;
    display: none;
}
.share-container{
    display: flex;
    justify-content: space-between;
    bottom: 0;
    margin: 0.5rem 1.5rem 0.5rem 1.5rem;
    position: relative;
}
.share-text{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.2rem;
    position: absolute;
}
.stext{
    color: var(--Grayish_Blue);
    text-transform: uppercase;
    letter-spacing: 7px;
}
.show{
    display: block;
}

/* sm range */
 @media only screen and (min-width: 576px){

      .wrapper-contaniner {
        width: 90%;
        display: flex;
        justify-content: center;
    }
     .image-block > img {
        max-width: 100%;
        border-radius: 10px 0 0 10px;
    }
     .bottom-share{
        width: 48%;
        right: -1.8rem;
        border-radius: 10px;
        position: absolute;
        bottom: 5rem;
    }
    .wrapper-one{
        max-width: 50%;
    }
    .wrapper-two {
        position: absolute;
        right: 0;
        width: 43%;
    }
    .wrapper-section-one > .text-block {
        font-size: clamp(0.8rem, 2vw, 4.5rem);
    }
    .para-block {
        font-size: clamp(0.5rem, 2vw, 3rem);
    }
    .wrapper-section-two {
        margin-block-start: 1rem;
    }
 }
 @media only screen and (min-width: 650px){
    .bottom-share{
        bottom: 6rem;
        width: 45%;
        right: -1.8rem;
    }
 }
 @media only screen and (min-width: 768px){
    .bottom-share{
        bottom: 6.5rem;
        width: 40%;
        right: -1.8rem;
    }
 }
 @media only screen and (min-width: 852px){
    .bottom-share{
        bottom: 7rem;
        width: 38%;
        right: -1.8rem;
    }
}
 @media only screen and (min-width: 992px){
    .bottom-share{
        bottom: 7.5rem;
        width: 35%;
        right: -1.8rem;
    }
 }
 @media only screen and (min-width: 1040px){
    .bottom-share{
        bottom: 8rem;
        width: 30%;
        right: -1.8rem;
    }
 }
 @media only screen and (min-width: 1200px){
    .bottom-share{
        bottom: 8.5rem;
        width: 25%;
        right: -2rem;
    }
 }
 @media only screen and (min-width: 1300px){
    .bottom-share{
        bottom: 9rem;
        width: 23%;
        right: -2rem;
    }
 }
 @media only screen and (min-width: 1400px){
    .bottom-share{
        bottom: 10rem;
        width: 20%;
        right: -2rem;
    }
 }
