
/* Theme 2 styles */
body {
    background-color: #d9ead3;
    color: #005500;

  }

  button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  button:hover {
    background-color: #449d44;

  }
  .navContainer .navList .ulList{
    height: 225px;
    top: 40px;
    right: 0rem;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    margin-top: 3rem;
    margin-inline-end: 1rem;
    margin-inline-start: 1rem;
    justify-content: center;
    align-items: center;
    padding: 20px 0 0 0px;
    list-style: none;
    border-radius: 10px;
}
.navContainer .navList .ulList>.items{
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
}
.navContainer .navList .ulList>.items> a{
    text-decoration: none;
    color: #449d44;
}