
/* Theme 1 styles */
body {
    background-color: #ffe0b3;
    color: #663300;

  }

  button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #ff9900;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  button:hover {
    background-color: #cc7a00;

  }
  .navContainer .navList .ulList{
    height: 225px;
    top: 40px;
    right: 0rem;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    margin-top: 5rem;
    margin-inline-end: 2rem;
    margin-inline-start: 2rem;
    justify-content: center;
    align-items: center;
    padding: 20px 0 0 0px;
    list-style: none;
    border-radius: 10px;
}
.navContainer .navList .ulList>.items{
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
}
.navContainer .navList .ulList>.items> a{
    text-decoration: none;
    color: #ff9900;
}