@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

.root{
    /*color*/
    color: hsl(230, 17%, 14%);
    color: hsl(228, 12%, 70%);
}
body{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: rgb(24, 24, 24);

}
#general_spacing{
    padding: 1rem 1.5rem 0 1.5rem;
}

.myCont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.myName{
    margin: 0;
    font-size: 1.2rem;
    color: hsl(228, 12%, 100%);
}
.DevCont{
    border-bottom: 2px solid green;
}
.socialLinks{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1rem;
}
.link> .github_link> img{
    width: 1rem;
}
.imgContainer{
    margin:0 1.2rem ;
    padding-bottom: 4rem;
    border-bottom: 1px solid hsl(228, 12%, 40%);
    height: 30rem;
}
.myPicture > img{
    width: 100%;
    left: 1rem;
    position: relative;
}
.text{
    font-size: 1.8rem;
    color: hsl(228, 12%, 100%);
    justify-content: center;
    text-align: center;
    font-weight: 700;
    padding: 1rem 1.5rem;
    margin: 0;
}
.paragraph{
    width: 100%;
    color: hsl(228, 12%, 60%);
    font-size: 1rem;
    text-align: center;
}
.par{
    padding-bottom: 1rem;
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.5rem;
}
.contactMe{
   text-align: center;
   text-transform: uppercase;
}

.contactMe a{
    text-decoration: none;
    color: hsl(228, 12%, 70%);
    padding-bottom: .5rem;
    border-bottom: 2px solid green;
    cursor: pointer;
    transition: 0.3s;
    letter-spacing: 3px;
    font-size: 12px;
}
.contactMe a:hover{
    color: green;
}
.skillsContainer{
    text-align: center;
    margin: 3rem 0 1rem 0;
}
.skillbox{
    color: hsl(228, 12%, 70%);
}
.skillSets{
    color: hsl(228, 12%, 60%);
    font-size: .8rem;
    cursor: pointer;
}
.projectcont{
    padding: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.skill{
    margin: 0;
    color: hsl(228, 12%, 100%);
}
.formContainer{
    margin: 8rem 1.5rem 1.5rem 1.5rem;
}
.contactPara{
    text-align: center;
}
#skillSets{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: .7rem;
    margin-top: 2rem;
    width: 100%;
}
.contactPara{
    line-height: 1.5rem;
    font-size: .95rem;
}
input[type="text"]{
    background-color: rgb(24, 24, 24);
    border: none;
    border-bottom: 1px solid hsl(228, 12%, 40%);
    margin-top: .5rem;
    margin-bottom: 2rem;
    width: 93%;
    color: hsl(228, 12%, 70%);
    padding: 10px;
}
#textinbox{
    background-color: rgb(24, 24, 24);
    border: none;
    border-bottom: 1px solid hsl(228, 12%, 40%);
    margin-top: .5rem;
    margin-bottom: 2rem;
    width: 94%;
    color: hsl(228, 12%, 70%);
}
#submit{
    display: none;
}
.submit{
    text-decoration: none;
    color: hsl(228, 12%, 70%);
    padding-bottom: .5rem;
    border-bottom: 2px solid green;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 11rem;
    margin-right: auto;
}
.submit:hover{
   color: green;
}
.footerContainer{
    margin-top: 6rem;
}
.gmail{
    margin-top: 10px;
}
#cright{
    color: hsl(228, 12%, 40%);
    text-align: center;
    font-size: 12px;
    margin-bottom: 5px;
}